<div class="row">
    <div class="col-md-12"> 
          <ul class="list-group ml-3 mt-3 list-group-flush">
            <li class=" list-group-item mb-3" ng-repeat="book in books"  href="">
                <a href="" class="list-group-item list-group-item-action flex-column align-items-start" ng-click="goToBookDetails(book)">
                  <div class="mr-3 d-inline-block"> 
                       <img width="220" height="220" ng-src="{{book.image_url}}"/>
                  </div>
                  <div class="d-inline-block mt-3">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">{{book.title}}</h5>
                        </div>
                        <p class="mb-1">{{book.author}}</p>
                        <small class="text-muted">{{book.category}}</small><br>
                        <small class="text-muted">{{"ISBN:"+ book.isbn }}</small>
                        <p class="mb-1 text-primary">Buy - ${{book.price}}</p>
                        <p class="mb-1 text-secondary">Rent - ${{book.rent_price}}</p>
                  </div>
                  <div class="d-inline-block  mt-3 float-right">
                      <button type="button" class="btn btn-outline-primary">View Details</button>
                        </div>
                  </a>
            </li>
          </ul>
  </div>
</div>