<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
            <form>
                    <fieldset>
                      <legend>Sign In</legend>
                      <div ng-show="showLoginError" class="alert alert-dismissible alert-primary">
                        Authentication Failed. Please try again.
                      </div>
                      <div ng-show="registrationSuccess" class="alert alert-dismissible alert-success">
                        Great. You are our valuable customer now. Please login with your email and password.
                      </div>
                      <hr>
                      <div class="form-group">
                        <label for="exampleInputEmail1">UserId</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" ng-model="email" required>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="password" required>
                      </div>
                      <button type="submit" class="btn btn-primary" ng-click="signIn(email,password)">Submit</button>
                      <br/>
                      <br/>
                      <a href="#!register">Not a customer yet? Register</a>
                    </fieldset>
                  </form>
    </div>
    <div class="col-md-4">

    </div>
</div>